<section class="content">
    <% if @battle_state == 'home'%>
        <%= render "home" %>
    <% elsif @battle_state == 'start' %>
        <%= render "battle" %>
    <% else%>
        <%= render "result" %>
    <% end %>
</section>
